################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Timeshare_API/.vs/Timeshare_API/v16/Server/sqlite3/storage.ide
